<footer class="app-footer col-md-12">
  <div class="container" id="footer">
    <p>Ceibo Real Portal Administrativo <a href="https://github.com/orgs/valor-software/teams/ng-team" target="_blank">mastudily@yahoo.es</a>
    <p>Licencia de uso <a href="https://github.com/valor-software/ngx-bootstrap/blob/development/LICENSE" target="_blank">Condiciones</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a></p>
    <p>Diseño y contenido  <a  target="_blank" href="http://v4-alpha.getbootstrap.com/">MAR</a> documentacion</p>
  </div>
</footer>
